body {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    background: #e0e4cc;
}

div {
    border: 2px solid black;
}

button {
    background-color: #f38630;
}

div.body {
    clear: both;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#menu_buttons {
    justify-content: end;
    align-self: flex-end;
}

.question {
    display: block;
    background-color: #f38630;
    margin: 1em;
    padding: 1em;
}

a.questions {
    color: #000000;
}
.details {

}

.box_title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.box_message {
    padding: 1em;
}

.question_image > img {
    width: 100px;
}

.options_bar {
    justify-content: right;
}