header {
    margin-bottom: 1em;
}

#homepage_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#homepage {
    font-family: Lucida, sans-serif;
    font-size: 130%;
    text-align: left;
    color: #95e1d3;
    text-shadow: 3px 3px #000000;
    -webkit-text-stroke: 1px #ff75a0;
}

#homepage:hover {
    color: #ff75a0;
}

body {
    background-color: #eaffd0;
    margin-left: 20%;
    margin-right: 20%;
}

.box {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    margin-bottom: 4em;
    margin-right: 10%;
}

.box > div {
    background: #95e1d3;
    padding: 10px;
}

.box > div:nth-child(1) {
    background: #fce38a;
}

.box > div:nth-child(2) {
    background: #fce38a;
}

.box > div:nth-child(4) {
    background: #fce38a;
}

.box_vote {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1/3;
    justify-self: end;

}

.box_edit_delete {
    text-align: right;
}

.box_edit_delete > div {
    padding-top: 10px;
}

.question {
    margin-left: 10%;
}

.comment_for_question{
    margin-left: 40%;
}

.answer {
    margin-left: 20%;
}

.comment_for_answer {
    margin-left: 40%;
}

p {
    color: #000000;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 110%
}

pre {
    color: #fce38a;
}

a {
    color: #000000;
    text-shadow: 1px 1px #ff75a0;
    -webkit-text-stroke: 1px #000000;
}

a:hover {
    color: #95e1d4;
    text-shadow: 1px 1px #95e1d4;
    -webkit-text-stroke: 1px #95e1d4;
}


#add_answer_form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.questions {
    font-family: Dejavu, sans-serif;
    background: #fce38a;
}


.text_colon {
    font-size: 120%;
    text-align: left;
}


button {
    width: 80px;
    border-radius: 25px;
     box-shadow: 2px 2px 10px 2px #ff75a0;
    background-color: #ff75a0;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 6px 5px;
    cursor: pointer;
}


span {
    display: block;
    margin-top: 3em;
    margin-right: 10%;
    text-align: right;
}

.index {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-columns: minmax(200px, auto);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 1em;
}

.index > div:nth-child(1) {
    grid-column: 1/6
}

.index > div:nth-child(2) {
    grid-column: 1/6
}

.index > div:nth-child(3n) {
    padding: 0.5em;
    justify-self: center;
    align-self:center;
    background: #fce38a;
}

.index > div:nth-child(3n):hover {
    padding: 0.9em;
    justify-self: center;
    background: #ff75a0;
}

.home_page_links {
    cursor: pointer;
    color: #000000;
    text-shadow: 1px 1px #ff75a0;
    -webkit-text-stroke: 1px #000000;
}