body {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background: #e0e4cc;
}

div {
    border: 2px solid black;
    display: block;
}

button {
    background-color: #f38630;
}

div.body {
    clear: both;
}

#logo {
    float: left;
}

.navbar {
    display: inline-block;
    alignment: right;
}

.question {
    display: block;
    background-color: #f38630;
    margin: 1em;
    padding: 1em;
}

a.questions {
    color: #000000;
}
.details {

}

.box_title {
    display: inline;
}

.question_title {
    display: inherit;
    float: left;
}

.submission_time {
    text-align: right;
}