body {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    background: #e0e4cc;
}

div {
    border: 0px solid black;
}

button {
    background-color: #f38630;
}

div.body {
    clear: both;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#menu_buttons {
    justify-content: end;
    align-self: flex-end;
}

.question {
    display: block;
    background-color: #f38630;
    margin: 1em;
    padding: 1em;
}

a.questions {
    color: #000000;
}
.details {

}

.box_title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.box_message {
    padding: 1em;
}

.question_image > img {
    width: 100px;
}

.options_bar {
    align-content: flex-end;
}

.container {
    display: flex;
    flex-direction: column;

}

.comments_for_question {
    display: flex;
    width: calc(60vw - 10vw);
    align-self: flex-end;
    margin-right: 1em;
    justify-content: flex-end;
    align-items: baseline;
    background-color: #b8b8b8;
}

.comment_options {
    margin-right: 10px;
}

.votes {
    display: flex;
    justify-content: center;
}

.add_comment {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.box_edit_delete {
    display: flex;
    justify-content: flex-end;
}