#homepage {
    font-family: Lucida, sans-serif;
    font-size: 150%;
    text-align: left;
    color: #95e1d3;
    text-shadow: 3px 3px #000000;
    -webkit-text-stroke: 1px #ff75a0;
}

#homepage:hover {
    color: #ff75a0;
}

body {
    background-color: #eaffd0;
    margin-left: 20%;
    margin-right: 20%;
}

p {
    color: #000000;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 110%
}

pre {
    color: #fce38a;
}

a {
    color: #000000;
    text-shadow: 1px 1px #ff75a0;
    -webkit-text-stroke: 1px #000000;
}

a:hover {
    color: #95e1d4;
    text-shadow: 1px 1px #95e1d4;
    -webkit-text-stroke: 1px #95e1d4;
}

#homepage_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#add_answer_form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.questions {
    font-size: 130%;
    font-family: Florence, cursive;
}

div {
    text-align: center;
}

.home_page_links {
    font-size: 130%;
}

#question_title {
    font-size: 125%;
    font-weight: bold;
    text-align: left;
}

#question_message {
    text-align: left;
}

.text_colon {
    font-size: 120%;
    text-align: left;
}

table {
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid black;
    border-collapse: collapse;
}

/*td, tr {*/
/*    border: 1px solid black;*/
/*}*/

button {
    width: 80px;
    background-color: #fce38a;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 6px 5px;
    cursor: pointer;
}