{% extends 'base.html' %}
{% block body %}
    <p>{{ question_data['title'] }}</p>
    <p>{{ question_data['message'] }}</p>
    <p>{{ question_data['vote_number'] }}</p>

    <form method="POST">
        <input type="submit" name="vote" value="vote_up"><br>
        <input type="submit" name="vote" value="vote_down">
    </form>

    <br><br>

    <h3>Add comment:</h3>

    <form action="{{ url_for('comment_question', question_id=question_data['id']) }}" method="post"
          enctype="multipart/form-data" id="add_comment_form">
            <label for="message">Add comment: <input type="text" name="message" /></label>
        <input type="submit">
    </form>



{% endblock %}