<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div class="index">
        <div><h2><a href="{{ url_for('index') }}" id="homepage">home page</a></h2></div>
        {% if username %}
            Logged in as: {{ username }}
        {% endif %}
        <div><img src="{{ url_for("static", filename="sample.png") }}" alt="Granny" height="150px" id="homepage_picture"></div>
        <div onclick="location.href='{{ url_for('questions') }}'" class="home_page_links">
            list of questions
        </div>
    </div>

</header>
{% block body %}


    {% block vote %}
        <form method="POST">
            <input type="submit" name="vote" value="vote_up">
            <br>
            <input type="submit" name="vote" value="vote_down">
        </form>
    {% endblock %}

{% endblock body %}
<footer>
    <p>
        footer
    </p>
</footer>
</body>
</html>