<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>ASKMATE 3</title>
</head>
<body>
<nav>
    <div class="navbar">

        <a href="{{ url_for('index') }}"><img src="{{ url_for("static", filename="askmate_logo.png") }}" alt="go to homepage" id="logo"></a></div>
        <button onclick="location.href='{{ url_for('questions') }}'" class="home_page_links"> List of questions </button>

            {% if username %}
                        <a href="{{ url_for('add_question') }}">
                <button>Add question</button>
            </a>

                <a href="{{ url_for('users') }}">
                <button>Users list</button>
            </a>

                Logged in as: <a href="{{ url_for('userpage', user_id=userid) }}">{{ username }}</a>
            {% else %}

            <button onclick="location.href='{{ url_for('register') }}'" class="home_page_links">
            REGISTER
            </button>

            <button onclick="location.href='{{ url_for('login_get') }}'" class="home_page_links">
            LOGIN
            </button>

            {% endif %}





    </div>
</nav>



<div class="body">

{% block body %}

{% endblock %}

</div>

<footer>
    <p>
        2021
    </p>
</footer>
</body>
</html>