{% extends 'base.html' %}
{% block body %}
    <br><br><br><br>
    <table>
        <tr>
            <td rowspan="2">
                {{ question_data['vote_number'] }}
                <br>
                vote up
                <br>
                vote down
            </td>
            <td id="question_title">
                <h3>{{ question_data['title'] }}</h3>
            </td>
            <td rowspan="2">delete</td>
        </tr>
        <tr>
            <td id="question_message">
                {{ question_data['message'] }}
            </td>
        </tr>
    </table>
    <br><br>
    <h3>Comments for question:</h3>
    {% for comment in comments_for_question %}
    {{ comment }}
    {% endfor %}

    <br><br><br><br>
    <h3>Answers:</h3>
    <a href="{{ url_for('add_answer', question_id=question_data['id']) }}">
        <button>add answer</button>
    </a>
    <br><br><br><br><br>
    {% for answer in answers %}
        <table>
            <tr>
                <td rowspan="2" class="short_cell">
                    <strong style="font-size: 130%">
                        {{ answer['vote_number'] }}
                    </strong>
                    <br>
                    <a href="{{ url_for('vote', answer_id=answer['id'], vote_up_or_down='vote_up') }}">
                        <button>vote up</button>
                    </a>
                    <br>
                    <a href="{{ url_for('vote', answer_id=answer['id'], vote_up_or_down='vote_down') }}">
                        <button>vote down</button>
                    </a>
                </td>
                <td>

                </td>
                <td rowspan="2"
                    style="text-align: right; vertical-align: bottom" class="short_cell">
                    <a href="{{ url_for('delete_answer', answer_id=answer['id']) }}">
                        <button>delete</button>
                    </a>
                </td>
            </tr>
            <tr>
                <td style="font-size: 110%">
                    {{ answer['message'] }}
                </td>
            </tr>
        </table>
        <br><br><br><br>
    {% endfor %}

    <br><br><br><br>

{% endblock %}