{% extends 'base.html' %}
{% block body %}

    <div class="question details">
        <div class="box_title">
            <div class="question_title">
                <h3>{{ question_data['title'] }}</h3>
            </div>
            <div class="submission_time">
                {{ question_data['submission_time'].strftime("%m.%d.%Y, %H:%M:%S") }} by <a href="{{ url_for('userpage', user_id=question_data.author) }}"> #{{ question_data.author }}</a>
            </div>
        </div>

        <div class="box_message">
            <div class="question_image">
                {% if question_data['image'] %}
                <img alt="" src="{{ url_for('static', filename=question_data['image']) }}" />
                {% endif %}

                {{ question_data['message'] }}
            </div>
        </div>

        <div class="options_bar">
            {{ question_data['vote_number'] }}
            <button onclick="location.href='{{ url_for('vote_for_question', question_id=question_data['id'], vote_up_or_down='vote_up') }}'">VOTE +</button>
            <button onclick="location.href='{{ url_for('vote_for_question', question_id=question_data['id'], vote_up_or_down='vote_down') }}'">VOTE -</button>
            <button onclick="location.href='{{ url_for('display_edit_question', question_id=question_data['id']) }}'">Edit Question</button>

                <BUTTON><a href="{{ url_for("delete_question", question_id=question_data['id']) }}" onclick="return confirm('Are you sure?')">
                <img alt="" src="{{ url_for('static', filename="trash-solid.svg") }}" style="width: 15px"/></a></BUTTON>

        </div>
    </div>
    <div class="container">

    {% for comment in comments_for_question %}

    <div class="comments_for_question">
            <div>
                {{ comment['submission_time'].strftime("%m.%d.%Y, %H:%M:%S") }} by <a href="{{ url_for('userpage', user_id=comment.author) }}">#{{ comment.author }}</a>
            </div>
            <div class="box_message">
                {{ comment['message'] }}
            </div>
            <div class="box_options">
            {% if userid == comment['author'] %}
                <div class="edit">

                        <button onclick="location.href='{{ url_for('edit_comment', comment_id=comment['id']) }}'">EDIT COMMENT</button>
                </div>
                <div class="delete">
                    <a href="{{ url_for('delete_comment', comment_id=comment['id']) }}"
                       onclick="return confirm('Are you sure?')">
                        <img alt="" src="{{ url_for('static', filename="trash-solid.svg") }}" style="width: 15px"/>
                    </a>
                {% endif %}
                </div>

            </div>
            <div>

            </div>
    </div>
    {% endfor %}

        </div>
    <div class="add_comment">
        <button onclick="location.href='{{ url_for('comment_question', question_id=question_data['id']) }}'">add comment</button>
    </div>


    <h2>Answers:</h2>

    <div class="add_comment">
        <button onclick="location.href='{{ url_for('add_answer', question_id=question_data['id']) }}'">add answer</button>
    </div>

    {% for answer in answers %}

        <div class="question details">
            <div class="box_title">

                <div>
                    {{ answer['submission_time'].strftime("%m.%d.%Y, %H:%M:%S") }}
                </div>


                <div class="box_message">
                    {{ answer['message'] }}
                </div>

            </div>

            <div class="box_edit_delete">

                <button onclick="location.href='{{ url_for('edit_answer', answer_id=answer['id']) }}'">Edit answer</button>
                <a href="{{ url_for('delete_answer', answer_id=answer['id']) }}">
                    <button onclick="return confirm('Are you sure?')" style="margin-right: 10px">delete</button>
                </a>


                {{ answer['vote_number'] }}
                    <a href="{{ url_for('vote', answer_id=answer['id'], vote_up_or_down='vote_up') }}">
                        <button style="margin-left: 10px">vote up</button>
                    </a>

                    <a href="{{ url_for('vote', answer_id=answer['id'], vote_up_or_down='vote_down') }}">
                        <button>vote down</button>
                    </a>
            </div>
        </div>



    {% for comment in comment_for_answers[answer['id']] %}

            <div class="comments_for_question">

            <div>
                {{ comment['submission_time'].strftime("%m.%d.%Y, %H:%M:%S") }} by <a href="{{ url_for('userpage', user_id=comment.author) }}">#{{ comment.author }}</a>
            </div>
            <div class="box_message">
                {{ comment['message'] }}
            </div>
            <div class="box_options">
            {% if userid == comment['author'] %}
                <div class="edit">

                    <a href="{{ url_for('edit_comment', comment_id=comment['id']) }}">
                        <button>EDIT COMMENT</button>
                    </a>
                </div>
                <div class="delete">
                    <a href="{{ url_for('delete_comment', comment_id=comment['id']) }}"
                       onclick="return confirm('Are you sure?')">
                        <img alt="" src="{{ url_for('static', filename="trash-solid.svg") }}" style="width: 15px"/>
                    </a>
                {% endif %}
                </div>

            </div>

    </div>

    {% endfor %}

    <div class="add_comment">
                <button onclick="location.href='{{ url_for('comment_answer', question_id=question_data['id'], answer_id=answer['id']) }}'">add comment</button>
    </div>
    {% endfor %}

{% endblock %}