{% extends 'base.html' %}
{% block body %}

    <div class="box question">
        <div class="box_title">
            <h3>{{ question_data['title'] }}</h3>
        </div>
        <div>
            {{ question_data['submission_time'] }}
        </div>
        <div class="box_message">
            {{ question_data['message'] }}
            {{ question_data['image'] }}
        </div>
        {#        <div class="question_image">#}
        {#            <img alt="" src="{{ url_for('static', filename=question_data['image']) }}"/>#}
        {##}
        {#        </div>#}
        <div class="box_edit_delete">
            <div class="edit">

                <a href="{{ url_for('display_edit_question', question_id=question_data['id']) }}">
                    <button>Edit Question</button>
                </a>


            </div>


            <div class="delete">
                <a href="{{ url_for("delete_question", question_id=question_data['id']) }}"
                   onclick="return confirm('Are you sure?')">
                    <img alt="" src="{{ url_for('static', filename="trash-solid.svg") }}" style="width: 15px"/>
                </a>
            </div>
        </div>
        <div class="box_vote">
            <div>vote up</div>
            <div>vote down</div>
            <div></div>
            <div>{{ question_data['vote_number'] }}</div>
        </div>
    </div>

    <span><a href="{{ url_for('comment_question', question_id=question_data['id']) }}">
        <button>add comment</button>
    </a></span>


    <h3>Comments for question:</h3>


    {% for comment in comments_for_question %}
        <div class="box comment_for_question">
            <div class="box_title">

            </div>
            <div>
                {{ comment['submission_time'] }}
            </div>
            <div class="box_message">
                {{ comment['message'] }}
            </div>
            <div class="box_edit_delete">
                <div class="edit">

                    <a href="{{ url_for('edit_comment', comment_id=comment['id']) }}">
                        <button>EDIT COMMENT</button>
                    </a>
                </div>
                <div class="delete">
                    <a href="{{ url_for('delete_comment', comment_id=comment['id']) }}"
                       onclick="return confirm('Are you sure?')">
                        <img alt="" src="{{ url_for('static', filename="trash-solid.svg") }}" style="width: 15px"/>
                    </a>
                </div>
            </div>
            <div class="box_vote">
                <div>vote up</div>
                <div>vote down</div>
                <div></div>
                <div>0</div>
            </div>
        </div>
    {% endfor %}


    <span><a href="{{ url_for('add_answer', question_id=question_data['id']) }}">
        <button>add answer</button>
    </a></span>


    <h3>Answers:</h3>


    {% for answer in answers %}
        <div class="box answer">
            <div class="box_title">
                {# blank #}
            </div>
            <div>
                {{ answer['submission_time'] }}
            </div>
            <div class="box_message">
                {{ answer['message'] }}
            </div>
            <div class="box_edit_delete">
                <div class="edit">
                    <a href="{{ url_for('edit_answer', answer_id=answer['id']) }}">
                        <button>Edit answer</button>
                    </a>
                </div>
                <div class="delete">
                    <a href="{{ url_for('delete_answer', answer_id=answer['id']) }}">
                        <button onclick="return confirm('Are you sure?')">delete</button>
                    </a>
                </div>
            </div>
            <div class="box_vote">
                <div>
                    <a href="{{ url_for('vote', answer_id=answer['id'], vote_up_or_down='vote_up') }}">
                        <button>vote up</button>
                    </a>
                </div>
                <div>
                    <a href="{{ url_for('vote', answer_id=answer['id'], vote_up_or_down='vote_down') }}">
                        <button>vote down</button>
                    </a>
                </div>
                <div></div>
                <div> {{ answer['vote_number'] }}</div>
            </div>
        </div>

        {#            {{ comment_for_answers[answer['id']] }}#}

        <span><a href="{{ url_for('comment_answer', question_id=question_data['id'], answer_id=answer['id']) }}">
                <button>add comment</button>
            </a></span>

        {% for comment in comment_for_answers[answer['id']] %}
            <div class="box comment_for_answer">
                <div class="box_title"></div>
                <div>{{ comment['submission_time'] }}</div>
                <div class="box_message">
                    {{ comment['message'] }}

                </div>
                <div class="box_edit_delete">
                    <div class="edit">

                        <a href="{{ url_for('edit_comment', comment_id=comment['id']) }}">
                            <button>Edit comment</button>
                        </a>
                    </div>
                    <div class="delete">
                        <a href="{{ url_for('delete_comment', comment_id=comment['id']) }}"
                           onclick="return confirm('Are you sure?')">
                            <img alt="" src="{{ url_for('static', filename="trash-solid.svg") }}" style="width: 15px"/>
                        </a>
                    </div>
                </div>
                <div class="box_vote">
                    <div>
                        <button>vote up</button>
                    </div>
                    <div>
                        <button>vote down</button>
                    </div>
                    <div></div>
                    <div>vote number</div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

{% endblock %}