{% extends 'base.html' %}
{% block body %}
    <div>
        {% for question in questions_list %}
            <a href="/question/{{ question['id'] }}"
               class="questions"> {{ question['title'] }}</a>

            <form method="POST">
                <input type="submit" name="vote" value="vote_up">
                <input type="submit" name="vote" value="vote_down">

            </form>

            <br><br><br>
        {% endfor %}
    </div>
    {% block vote %}
        {{ super() }}
    {% endblock %}

    <p>
        {{ counter }}
    </p>

{% endblock %}